body {
    margin: 0;
    background-color: #eff0f4;
}


$white :#fff;
$green : #5fc0cd;

header {
    align-items: center;
    justify-content: space-between;

    span:first-child {
        margin-left: 1em;
    }

    span:last-child {
        margin-right: 1em;
    }

    span:nth-child(2) {
        font-size: 1.6em;
        margin: 0.8em 0;
    }
}
    span,p {
        font-size: 1.3em;
        color: $white;
    }

    header,form {
        display: flex;
    }
    
    header,form,div {
        width: 100%;
    }
    
    header,div {
        background-color: $green;
    }
    





div {
    p {
        margin-top: 3em;
        padding: 1em 0;
        text-align: center;
    }
}
form {
    align-items: center;
    margin-top: 1em;
    background-color: $white;
    img {
        width: 1.3em;
        margin: 1.1em 0;
        padding: 0.8em 2.3em;
        border-right: 2px solid #dedede;
    }
    input {
        border: 0;
        height: 2.3em;
        margin-left: 1.5em;
        font-size: 1.3em;
    }
    
    
}


a {
    margin-right: 1.4em;
    color: #5fc0cd;
    font-size: 1.4em;
    float: right;
    text-decoration: none;

    &:hover {
        color: #000000;
    }
}