/* body {
    margin: 0;
    background-color: #eff0f4;
}

header {
    align-items: center;
    justify-content: space-between;
} */

/* header,form {
    display: flex;
}

header,form,div {
    width: 100%;
}

header,div {
    background-color: #5fc0cd;
}

span,p {
    font-size: 1.7em;
    color: #fff;
} */

/* header span:first-child {
    margin-left: 1em;
}

header span:last-child {
    margin-right: 1em;
}
header span:nth-child(2) {
    font-size: 2em;
    margin: 0.8em 0;
} */
/* form {
    align-items: center;
    margin-top: 1em;
    background-color: #fff;
}

img {
    margin: 1.4em 0;
    padding: 0.8em 2.3em;
    border-right: 2px solid #dedede;
} */

/* input {
    border: 0;
    height: 2.3em;
    margin-left: 1.5em;
    font-size: 1.3em;
} */

/* div p {
    margin-top: 3em;
    padding: 1em 0;
    text-align: center;
} */

/* a {
    margin-right: 1.4em;
    color: #5fc0cd;
    font-size: 1.4em;
    float: right;
    text-decoration: none;
}

a:hover {
    color: #fff;
} */