body {
    margin: 0;
}
// 雪碧图，定位，宽高
@mixin icon($left:10px, $top:10px, $width:10px, $height:10px) {
    background: {
        image: url(../picture/sprites.png);
        position: $left $top;

    }

    width: $width;
    height: $height;
}

.buttongroup,
header,
nav,
button {
    width: 100%;
}

header {
    position: fixed;
    top: 0;


    .buttongroup {
        background-color: #5fc0cd;
        display: flex;
        justify-content: center;

        .button-set {
            display: flex;
            align-items: center;
            // justify-content: flex-end;       
            margin: 10px 0;
            border-radius: 5px;
            background-color: #55a8b3;

            .for,
            .worker {
                font-size: 1em;
                border-radius: 5px;
            }

            .for {

                padding: 0px 10px;
                color: #fff;
                border-radius: 5px 5px 5px 5px;

            }

            .worker {
                padding: 10px 10px;
                background-color: #fff;
                color: #5fc0cd;

            }

        }

    }

    .icon1 {
        @include icon(-43px, 0, 21px, 22px);
        position: fixed;
        top: 11px;
        right: 15px;
    }

    nav {
        display: flex;
        // justify-content: space-around;
        // align-items: center;
        /*弹性，每个项目两侧的间隔相等，交叉轴的中点对齐*/
        border-bottom: 1px solid #E1E5E7;
        // width: 100%;
        height: 40px;
        // position: fixed;
        background-color: #ffffff;
        // top: 44px;

        .one1,
        .one2,
        .one3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            height: 100%;
            flex: 1;
            border-right: 1px solid #e1e5e7;

            p:hover {
                background-color: #E1E5E7;
            }
        }

        .one3 {
            border-right: 0;
        }

        .place,
        .board,
        .patient {
            flex-shrink: 0;
            margin: auto;
        }

        .drawing1,
        .drawing2,
        .drawing3 {
            margin-right: 16px;
            flex-shrink: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 7px solid #AFBAC0;
        }

        .one1:hover .city {
            // /*类选择器选择显示包含的下拉菜单*/
            display: block;
        }

        .one2:hover .eat {
            // /*类选择器选择显示包含的下拉菜单*/
            display: block;
        }

        .one3:hover .health {

            // /*类选择器选择显示包含的下拉菜单*/
            display: block;
        }

        .city,
        .eat,
        .health {
            display: none;
            position: absolute;
            top: 40px;
            width: 100%;
            background-color: #f9f9f9;
            text-align: center;
            border: 1px solid #e1e5e7;

            p {
                margin: 0;
                padding: 10px 0;
                text-align: center;
                border-bottom: 1px solid #e1e5e7;
            }

            p:last-child {
                border-bottom: 0;
            }
        }
    }

}

main {
    margin: 102px 0;
    overflow-y: scroll;

    ul {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #e1e5e7;
    }

    li {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 12px 10px 12px 15px;

        &:nth-child(2) {
            display: flex;
            justify-content: space-between;
        }

        .icon2 {
            @include icon(-10px, 0, 12px, 12px);

        }

        .serve {
            margin-left: 10px;
            color: #999999;
        }

        .date {
            margin-left: 22px;
            text-overflow: ellipsis;
            /*当文本溢出时显示省略号，*/
            overflow: hidden;
            /*溢出文本被隐藏*/
            white-space: nowrap;
            /*限定文本只能一行显示*/
        }


        .hour {
            color: #e63b0e;
            text-overflow: ellipsis;
            /*当文本溢出时显示省略号，*/
            overflow: hidden;
            /*溢出文本被隐藏*/
            white-space: nowrap;
            /*限定文本只能一行显示*/
            flex-shrink: 0;
            z-index: -10;
            &::after {
                content: "";
                width: 10px;
                height: 10px;
                // margin-left: 10px;
                // margin-top: 5px;
                // margin-right: 3px;
                margin:5px 3px 0px 10px;
                border-left: 2px solid #5FC0CD;
                border-bottom: 2px solid #5FC0CD;
                // transform: matrix(0.8, 0.7, -0.8, 0.7, 0, 0);
                transform: rotate(225deg);
                float: right;
                z-index: -12;
                white-space: nowrap;

            }
        }

      

        .icon3 {
            @include icon(0px, 0px, 10px, 12px);
        }

        
    }


}
// dfjviod



footer {
    width: 100%;
    position:fixed;
    bottom:0;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color:#f8fafb;
    a {
        justify-content:center;
        text-decoration:none;
        .icon4 {
            @include icon(-64px, 0px, 23px, 20px);
        }
        
        .icon6 {
            @include icon(-22px, 0px, 21px, 21px);
        }
        p {
            margin:1px 0px;
            font-size:12px;
        }
    }
    a:first-child  {
        p{
            color:#5FC0CD;
        }
    }
    a:last-child  {
        p{
            color:#999999;
        }
    }
    .icon5 {
        @include icon(-87px, 0px, 47px, 47px);
        margin:10px 0;
    }

}
                         


/**
 *               ii.                                         ;9ABH,          
 *              SA391,                                    .r9GG35&G          
 *              &#ii13Gh;                               i3X31i;:,rB1         
 *              iMs,:,i5895,                         .5G91:,:;:s1:8A         
 *               33::::,,;5G5,                     ,58Si,,:::,sHX;iH1        
 *                Sr.,:;rs13BBX35hh11511h5Shhh5S3GAXS:.,,::,,1AG3i,GG        
 *                .G51S511sr;;iiiishS8G89Shsrrsh59S;.,,,,,..5A85Si,h8        
 *               :SB9s:,............................,,,.,,,SASh53h,1G.       
 *            .r18S;..,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....,,.1H315199,rX,       
 *          ;S89s,..,,,,,,,,,,,,,,,,,,,,,,,....,,.......,,,;r1ShS8,;Xi       
 *        i55s:.........,,,,,,,,,,,,,,,,.,,,......,.....,,....r9&5.:X1       
 *       59;.....,.     .,,,,,,,,,,,...        .............,..:1;.:&s       
 *      s8,..;53S5S3s.   .,,,,,,,.,..      i15S5h1:.........,,,..,,:99       
 *      93.:39s:rSGB@A;  ..,,,,.....    .SG3hhh9G&BGi..,,,,,,,,,,,,.,83      
 *      G5.G8  9#@@@@@X. .,,,,,,.....  iA9,.S&B###@@Mr...,,,,,,,,..,.;Xh     
 *      Gs.X8 S@@@@@@@B:..,,,,,,,,,,. rA1 ,A@@@@@@@@@H:........,,,,,,.iX:    
 *     ;9. ,8A#@@@@@@#5,.,,,,,,,,,... 9A. 8@@@@@@@@@@M;    ....,,,,,,,,S8    
 *     X3    iS8XAHH8s.,,,,,,,,,,...,..58hH@@@@@@@@@Hs       ...,,,,,,,:Gs   
 *    r8,        ,,,...,,,,,,,,,,.....  ,h8XABMMHX3r.          .,,,,,,,.rX:  
 *   :9, .    .:,..,:;;;::,.,,,,,..          .,,.               ..,,,,,,.59  
 *  .Si      ,:.i8HBMMMMMB&5,....                    .            .,,,,,.sMr
 *  SS       :: h@@@@@@@@@@#; .                     ...  .         ..,,,,iM5
 *  91  .    ;:.,1&@@@@@@MXs.                            .          .,,:,:&S
 *  hS ....  .:;,,,i3MMS1;..,..... .  .     ...                     ..,:,.99
 *  ,8; ..... .,:,..,8Ms:;,,,...                                     .,::.83
 *   s&: ....  .sS553B@@HX3s;,.    .,;13h.                            .:::&1
 *    SXr  .  ...;s3G99XA&X88Shss11155hi.                             ,;:h&,
 *     iH8:  . ..   ,;iiii;,::,,,,,.                                 .;irHA  
 *      ,8X5;   .     .......                                       ,;iihS8Gi
 *         1831,                                                 .,;irrrrrs&@
 *           ;5A8r.                                            .:;iiiiirrss1H
 *             :X@H3s.......                                .,:;iii;iiiiirsrh
 *              r#h:;,...,,.. .,,:;;;;;:::,...              .:;;;;;;iiiirrss1
 *             ,M8 ..,....,.....,,::::::,,...         .     .,;;;iiiiiirss11h
 *             8B;.,,,,,,,.,.....          .           ..   .:;;;;iirrsss111h
 *            i@5,:::,,,,,,,,.... .                   . .:::;;;;;irrrss111111
 *            9Bi,:,,,,......                        ..r91;;;;;iirrsss1ss1111
 */
