// #Sass变量
$g28:#29B078;
$gff:#ffffff;
$gfa:#fafafa;
$g99:#999999;
$g33:#333333;
$gfe:#ff650e;
$gf0:#f01400;
$gf6:#f66f6f;
$g20:#29bde0;
$gf5:#fbb435;
$gf0:#f0f0f0;
$g8a:#83b09a;
$gb5:#b9e9f5;






