@charset "UTF-8";
/*---------------------------------------------------------------------------*/
/*
//   Document   : CSS样式初始化
//   Created on : 2019. 7. 20
 
 
// /* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,
img {
  border: 0 none;
}

/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}

/* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote,
q {
  quotes: none;
}

/* 重置嵌套引用的引号类型 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* 重置嵌套引用*/
input,
select,
textarea,
button {
  vertical-align: middle;
}

/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

/* 重置表单button按钮效果 */
body {
  background: #f0f0f0;
}

/* 重置body 页面背景为白色 */
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  font-family: "微软雅黑", "黑体", "宋体";
}

/* 重置页面文字属性 */
a {
  text-decoration: none;
}

/* 重置链接a标签 */
a:active,
a:hover {
  text-decoration: none;
}

/* 重置链接a标签的鼠标滑动效果 */
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

/* 重置表格标题为隐藏 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

/* 重置table属性 */
img {
  vertical-align: middle;
  border-style: none;
}

/* 图片在当前行内的垂直位置 */
input {
  display: none;
}

/* 页面设置 */
/* 取消a标签点击后的虚线框 */
a {
  outline: none;
}

/* a:active {star:expression(this onFocus=this.blur());} */
/* 设置页面文字等在拖动鼠标选中情况下的背景色与文字颜色 */
/* 
::selection {color: #fff;background-color: #4C6E78;}    
::-moz-selection {color: #fff;background-color: #4C6E78;} 
*/
/* #页眉 */
header {
  width: 100%;
}

header .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}

header .top p {
  font-size: 16px;
  color: #29B078;
  padding: 6px 0;
  margin-left: 4%;
}

header .top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  margin-right: 4%;
}

header .top div i {
  margin-right: 10px;
}

header .top div i:nth-child(1) {
  width: 25px;
  height: 25px;
  background-image: url(../picture/css_sprites.png);
  background-position: -397px -198px;
}

header .top div i:nth-child(2) {
  width: 25px;
  height: 25px;
  background-image: url(../picture/css_sprites.png);
  background-position: -205px -130px;
}

header .top div i:nth-child(3) {
  width: 25px;
  height: 25px;
  background-image: url(../picture/css_sprites.png);
  background-position: -250px -130px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #29B078;
  position: relative;
  color: #fff;
}

header .nav .logo {
  height: 60px;
  margin-left: 4%;
  display: inline-block;
}

header .nav .logo span:nth-child(1) {
  letter-spacing: 5px;
  font-size: 20px;
  line-height: 33px;
}

header .nav .fold {
  position: absolute;
  top: 10px;
  right: 8%;
  width: 46px;
  height: 40px;
  border: 1px solid #fff;
}

header .nav .fold span {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 35px;
  height: 26px;
  padding: 10px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: #fff content-box;
}

header .nav input:checked ~ .nav-relevance {
  display: block;
  background-color: #29B078;
  -webkit-animation: myfirst 1s;
          animation: myfirst 1s;
}

header .nav .nav-relevance {
  width: 100%;
  line-height: 60px;
  display: none;
}

header .nav .nav-relevance li {
  width: 100%;
  height: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav .nav-relevance li a {
  width: 30px;
  height: auto;
  color: #fff;
  font-size: 15px;
}

header .nav .nav-relevance li a:hover {
  border-bottom: 2px solid #fff;
}

@-webkit-keyframes myfirst {
  0% {
    height: 0;
  }
  100% {
    height: 240px;
  }
}

@keyframes myfirst {
  0% {
    height: 0;
  }
  100% {
    height: 240px;
  }
}

@media (min-width: 768px) {
  header .nav .fold {
    display: none;
  }
  header .nav .nav-relevance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
  }
  header .nav input:checked ~ .nav-relevance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
  }
}

main .top-line {
  font-size: 18px;
  margin: 10px 3px;
}

main span {
  color: #29b078;
}

main .main-left {
  margin: 0 20px 70px 20px;
  background-color: #fff;
  height: 50em;
}

main .main-left div:first-child {
  border-bottom: 1px solid #e6e6e6;
}

main .main-left div {
  padding: 13px 0;
  text-align: center;
  font-size: 15px;
}

main .main-left div:hover span:first-child {
  background-color: #f9a372;
}

main .main-left div:hover span:last-child {
  color: #f9a372;
}

main .main-left div span:first-child {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 10px;
  border: 1px solid #f9a372;
  display: inline-block;
}

main .main-right {
  margin: 0 20px 70px 20px;
  background-color: #fff;
  font-size: 15px;
}

main .main-right div:first-child {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 75px;
  border-bottom: 1px solid #e6e6e6;
}

main .main-right div {
  margin: 30px 45px;
  color: #999999;
}

main .main-right p {
  margin-right: 45px;
}

/* #页脚 */
footer {
  background-color: #29b078;
  color: #fff;
}

footer .ally {
  margin: 10px 0;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .ally span {
  margin: 10px 0;
  padding-bottom: 5px;
}

footer .ally span:hover {
  border-bottom: 1px solid #fff;
}

footer .ally div {
  margin: 10px 0;
}

footer .ally-wechat {
  margin: 10px 0;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .ally-wechat span {
  margin: 10px 0;
}

footer .ally-wechat .ally-img {
  width: 92px;
  height: 92px;
  background-image: url(../picture/css_sprites.png);
  background-position: -445px 261px;
}

footer p {
  text-align: center;
  padding: 5px 0;
  font-size: 13px;
  border-top: 1px solid #dedede;
}

@media (min-width: 768px) {
  footer .ally-wechat {
    margin: 10px 0;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .ally-wechat span {
    margin: 10px 0;
  }
  footer .ally-wechat .ally-img {
    width: 92px;
    height: 92px;
    background-image: url(../picture/css_sprites.png);
    background-position: -445px 261px;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-bj {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .cn {
    max-width: 960px;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-sm-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}
/*# sourceMappingURL=task15-3.css.map */