body,
p,
ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none
}

@mixin button($color:#ffffff) {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.34%;
    height: 43px;
    border-radius: 5px;
    background-color: $color;
    color: #fff;
    font-size: 20px;
}

@mixin flex ($justify:center, $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #29bde0;

    .header {
        @include flex(space-between,center);
        border-bottom: 1px solid #ffffff;

        img:first-child {
            margin-left: 3.2%;
        }

        img:last-child {
            margin-right: 3%;
        }

        .result {
            font-size: 17px;
            color: #fff;
            padding: 10px 0;
        }

    }

    .box-tbl {
       
        display: flex;
        flex-direction: column-reverse;
        margin-top: 12px;
        height: 103px;

        background: {
            image: url(../picture/tuchen2.png), url(../picture/tuchen1.png);
            size: 176px 103px, 43px 42px;
            position: center, center top;
            repeat: no-repeat, no-repeat;

        }

        .box-txt {
            padding-bottom: 7px;
            text-align: center;
            color: #ffffff;
            font-size: 23px;
        }
    }

    .praise {
        font-size: 17px;
        color: #ffc865;
        line-height: 21px;
        padding: 0 12%;

    }

    .record {

        font-size: 13px;
        color: #fff;
        line-height: 21px;
        padding: 31px 0 12px 11.88%;

    }



}

ul {
    margin: 22em 0 4em 0;
    overflow-y: scroll;
    overflow: hidden;

    li {
        border-bottom: 1px solid #dddddd;

        &:first-child {
            border-top: 1px solid #dddddd;
        }

        .time {
            @include flex (space-between,center);
            padding:6px 16% 0px 11.88%;
            .days {
                font-size:15px;
                color:#515151;
                line-height:22px;
            }

            .tims {
                font-size:10px;
                color:#c7c7c7;
                line-height:22px;
            }

        }
        .event{
            padding:14px 0 17px 12.34%;
            font-size:13px;
            color:#a6a6a6;
        }
    }

}

footer {
    position: fixed;
    bottom: 0;
    @include flex(space-around, center);
    height: 65px;
    background: rgba(41, 189, 224, .48);

    .red {
        @include button (#f66f6f);
    }

    .yellow {
        @include button (#fbb435);

    }
}
