body {
  margin: 0;
  background-color: #f0f0f0;
}

header,main,footer {
  width: 100%;
}

// 清除默认样式
ul,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding:0;
  text-align: center;
}
a {text-decoration: none;
  /* 清除下划线 */}

// 混合器变量
// 大小背景颜色
@mixin fmd($width:20px, $height:3px, $color:#ffffff) {
  width: $width;
  height: $height;
  background-color: $color;
}
@mixin icon($left:10px, $top:10px) {
  // content:‘url(../picture/home-page.png) $left $top’;
  content:"";
  display: block;
  background: {
      image: url(../picture/home-page.png);
      position: $left $top;

  }
  float:left;
  width: 24px;
  height: 24px;
  margin:0 10px;
}
// 弹性布局水平垂直居中
@mixin btp {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 颜色变量
$s-fff:#ffffff;
$s-29b:#29bde0;
$s-9a9:#9a9a9a;
$s-fbb:#fbb435;
$s-f0f:#f0f0f0;
.header {
  width: 100%;
  height: 44px;
  background-color: $s-29b;
  position:relative;
  label {
    position: absolute;
    top: 10px;
    left:8px;
    width: 33px;
    height: 33px;
    border-radius:50%;
    cursor: pointer;
    //  /* 光标形状（一只手） */
    display: inline-block;
    &:hover {background-color:$s-fbb;}
  }
  .hp-folded {
    transition: 0.2s ease-out;
    /*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
  }

  .hp-fmb {
    @include fmd;
    margin-left: 6px;
    margin-top: 14px;

    &::before {
      content: "";
      @include fmd;
      position: absolute;
      top:8px;
      left:6px;
    }

    &::after {
      content: "";
      @include fmd;
      position: absolute;
      top: 20px;
      left:6px;
    }
  }

}
#sidemenu:checked+ul{
  /*为被选中的sidemenu后的aside设置属性（紧邻）*/
  left: 0;
  transition: 0.2s ease-out;
  /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
}
#sidemenu:checked~main {
  /*为被选中的sidemenu后的wrap设置属性（非紧邻）*/
  // padding-left: 200px;
  padding-left:50%;
  transition: 0.2s ease-out;
}
input {display:none;}
//  侧边栏文本
li {
  
  list-style:none;
  display:flex;
  align-items:center;
  justify-content:space-between;
  width: 100%;
  height: 40px;
  border-bottom:1px solid #9a9a9a;
  color:#29bde0;
  .hp-icon1::before{
  
    @include icon($left:-10px, $top:-10px);}
  .hp-icon2::before{
    
    @include icon($left:-54px, $top:-10px);}
  .hp-icon3::before{
    
    @include icon($left:-10px, $top:-54px);}
  .hp-icon4::before{
    
    @include icon($left:-54px, $top:-54px);}
  .hp-tlr1{
      width: 13px;
      height: 13px;
      border-left: 2px solid $s-29b;
      border-bottom: 2px solid $s-29b;
      transform: rotate(225deg);
      position: absolute;
      right: 20px;
  }

}
// 侧边栏
#sidebar {
  position:absolute;
  top:0;
  bottom:0;
  // left:-240px;
  left:-50%;
  // width: 200px;
  width: 50%;
  background-color:#ffffff;
  transition: 0.2s ease-out;


}
main {

  .hp-tlr {
    margin: 15px 22px;
    position: relative;   
    @include fmd (auto,58px,$s-fff);
    &:hover {box-shadow: 1px 2px 2px 0px #dedede;}
    @include btp;
    // 大于号
    .hp-gts {
      width: 13px;
      height: 13px;
      border-left: 2px solid $s-9a9;
      border-bottom: 2px solid $s-9a9;
      transform: rotate(225deg);
      position: absolute;
      right: 30px;
    }
  }

  .hp-sg9a {
    color: $s-9a9;
  }
// 主体
  .hp-rank {
    display: flex;
    flex-direction: column;
    margin: 10px 22px;
    background-color: $s-fff;
    position: relative;
    // 标题
    .hp-sgfb {
      height: 46px;
      border-bottom: 1px solid $s-fbb;
      color: $s-fbb;
      @include btp;
    }
    // 版本框
    .hp-button {
      color: $s-fff;
      margin: 15px 30px;
      @include fmd(auto ,67px,$s-29b);
      @include btp;
      border-radius:5px;
      &:hover {box-shadow: 1px 2px 2px 0px #dedede;}
    }
    // 底部小圆
    .hp-dot {
      @include btp;
      .hp-circle {
        @include fmd(10px, 10px, $s-9a9);
        border-radius: 50%;
        margin: 5px;
        &:hover {background-color:$s-29b;}
      }


    }
    // 侧边三角按钮链接
    .hp-rt { 
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-width: 14px 14px;
      border-left-color: $s-fbb;     
      position: absolute;
      right: -10px;
      top: 12.56em;    }

  }

}