  div{
            border-radius:10%;/*为div元素添加圆角*/
            width: 30%;/*设置div元素的宽度*/
            padding-top: 30%;/*设置div元素的顶部填充*/
            background-color: #FFA500;/*设置div元素的背景颜色*/
            margin: 1%;/*设置div元素的外边距*/
            float: left;/*设置div元素向左浮动*/
        }